<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="url" value="http://91.t9m.space"/>
<add key="urlparam" value="viewthread.php?tid="/>
  <add key="loadfile" value="E:\tempFile\temp\"/>
 <add key="cachecnt" value="200"/>
 <add key="viewcnt" value="1000000"/>
 <add key="lock" value="false"/>
</appSettings>
</configuration>